/* 

--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE : 
- FONT WEIGHTS :
  - Default :  400
  - Medium: 500
  - Semi-bold: 600
  - Bold: 600
- LINE HEIGHT :
  - Default : 1
  - Small: 1.05
  - Medium : 1.2
  - Paragraph default: 1.6
- Letter spacing :
  - .5px
  - .75px


--- 02 COLORS
Primary : #e67e22
Tints : #fdf2e9, #fae5d3
Shades : #cf711f
Accents : 
Greys : #57534e, #35312a, #6f6f6f (lightest grey allowed on #fdf2e9)

--- 03 IMAGES
https://unsplash.com
https://uifaces.co

--- 04 ICONS

--- 05 SHADOWS

--- 06 BORDER-RADIUS
- Default: 9px
- Medium: 11px

--- 07 WHITESPACE
- Spacing system

*/
html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #57534e;
}

/* ******************************************** */
/* GENERAL */
/* ******************************************** */

.heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 700;
  color: #35312a;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: .75px;
}

.btn:is(:link, :visited) {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 8px;

  transition: background-color .3s, box-shadow .3s;
}

.btn--full:is(:link, :visited) {
  color: #fafafa;
  background-color: #e67e22;
}

.btn--full:is(:hover, :active) {
  background-color: #cf711f;
}

.btn--outline:is(:link, :visited) {
  color: #35312a;
  background-color: #fafafa;
}

.btn--outline:is(:hover, :active) {
  background-color: #f5f5f5;
  
  /* This makes border outside the btn */
  /* border: 3px solid black; */
  
  /* Trick to add border inside */
  /* keyword to-left to-bottom blur thickness color */
  box-shadow: inset 0 0 0 3px #e67e22;
}

.container {
  width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

strong {
  font-weight: 500;
}

.link:is(:visited, :link) {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all .3s;
}

.link:is(:hover, :active) {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
   
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  font-size: 3rem;
  color: #e67e22;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.grid:last-child {
  margin-bottom: 0;
}

.grid:not(:last-child) {
  /* background-color: #35312a; */
}